---
// Schema.org structured data for SEO - Enhanced
const schemaData = {
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "Proyectos - PIXII International Power Supplies",
  "description": "Portafolio de proyectos de infraestructura eléctrica: subestaciones eléctricas, centrales de generación, redes eléctricas y líneas de transmisión en México.",
  "url": "https://pixii.com.mx/proyectos",
  "mainEntity": {
    "@type": "ItemList",
    "numberOfItems": 3,
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Subestaciones Eléctricas",
        "description": "Proyectos de subestaciones para carga, distribución y transmisión de energía eléctrica",
        "url": "https://pixii.com.mx/proyectos#subestaciones"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "Centrales Eléctricas de Generación",
        "description": "Proyectos de centrales de generación eléctrica y plantas solares",
        "url": "https://pixii.com.mx/proyectos#centrales"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "Redes Eléctricas y Líneas de Transmisión",
        "description": "Proyectos de redes eléctricas y líneas de transmisión de alta tensión",
        "url": "https://pixii.com.mx/proyectos#redes"
      }
    ]
  },
  "provider": {
    "@type": "Organization",
    "name": "PIXII International Power Supplies",
    "url": "https://pixii.com.mx"
  }
};

// Base path for project images
const basePath = '/images/proyectos';

// Project data structure with real images
const projects = [
  {
    id: 'subestaciones',
    title: 'Subestaciones Eléctricas',
    subtitle: 'para Carga, Distribución, Transmisión.',
    image: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT01.jpeg`,
    items: [
      {
        label: 'Subestación Panamericana - Aluminio de BC',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA06.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA07.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA08.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PANAMERICANA/01SE - SCABC - SUBESTACIONPANAMERICANA09.jpeg`
        ]
      },
      {
        label: 'Subestación Puerto Nuevo - Aluminio de BC',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACIONES COLATERALES ALUMINIO DE BC/SUBESTACION PUERTO NUEVO/01SE - SCABC - SUBESTACIONPUERTONUEVO06.jpeg`
        ]
      },
      {
        label: 'Subestación Navojoa Industrial',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIALS03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL06.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION NAVOJOA INDUSTRIAL/01SE - NAVOJOAINDUSTRIAL07.jpeg`
        ]
      },
      {
        label: 'Subestación Tres Naciones S.L.P. Daikin',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN06.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION TRES NACIONES S.L.P. DAIKIN/01SE - TRESNACIONESSLPDAIKIN07.jpeg`
        ]
      },
      {
        label: 'Subestación Punta Bandera CESPT',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT06.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT07.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT08.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT09.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT10.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT11.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION PUNTA BANDERA CESPT/01SE - PUNTABANDERACESPT12.jpeg`
        ]
      },
      {
        label: 'Subestación de Alta Tensión Alaris',
        thumbnail: `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS01.jpeg`,
        gallery: [
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS01.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS02.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS03.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS04.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS05.jpeg`,
          `${basePath}/01 SUBESTACIONES ELECTRICAS/SUBESTACION DE ALTA TENSION ALARIS/01SE - ALTATENSIONALARIS06.jpeg`
        ]
      }
    ]
  },
  {
    id: 'centrales',
    title: 'Centrales Eléctricas',
    subtitle: 'de Generación',
    image: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY01.jpeg`,
    items: [
      {
        label: 'PV 499 KWP Industrias Falcon (P.I. Amexhe)',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PV 499 KWP INDUSTRIAS FALCON (P.I. AMEXHE)/02CEG - PV499KWPINDUSTRIASFALCON05.jpeg`
        ]
      },
      {
        label: 'Planta de Generación Thompson',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON05.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON06.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON07.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENRACION THOMPSON/02CEG - PLANTADEGENERACIONTHOMPSON08.jpeg`
        ]
      },
      {
        label: 'Planta de Generación González Ortega',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA05.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION ¨GONZALEZ ORTEGA¨/02CEG - PLANTADEGENERACIONGONZALEZORTEGA06.jpeg`
        ]
      },
      {
        label: 'Planta de Generación Libramiento',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE GENERACION LIBRAMIENTO/02CEG - PLANTADEGENERACIONLIBRAMIENTO05.jpeg`
        ]
      },
      {
        label: 'Planta de Tratamiento de Agua Las Arenitas',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE TRATAMIENTO DE AGUA¨LAS ARENITAS/02CEG - PLANTADETRATAMIENTODEAGUAARENITAS01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE TRATAMIENTO DE AGUA¨LAS ARENITAS/02CEG - PLANTADETRATAMIENTODEAGUAARENITAS01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/PLANTA DE TRATAMIENTO DE AGUA¨LAS ARENITAS/02CEG - PLANTADETRATAMIENTODEAGUAARENITAS02.jpeg`
        ]
      },
      {
        label: 'Estacionamiento Solar (Carport) Gobierno de B.C.',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR05.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR06.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR07.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR08.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR09.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR (CARPOT) GOBIERNO DE B.C/02CEG - ESTACIONAMIENTOSOLAR10.jpeg`
        ]
      },
      {
        label: 'CTG New Fortress Energy Pichilingue B.C. Sur',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY03.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY04.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY05.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY06.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY07.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY08.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY09.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY10.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY11.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY12.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY13.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/CTG NEW FORTRESS ENERGY ¨PICHILINGUE B.C. SUR¨/02CEG - CTGNEWFORTRESSENERGY14.jpeg`
        ]
      },
      {
        label: 'Estacionamiento Solar Valle de las Palmas',
        thumbnail: `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR VALLE DE LAS PALMAS/02CEG - ESTACIONAMIENTOSOLARVALLE01.jpeg`,
        gallery: [
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR VALLE DE LAS PALMAS/02CEG - ESTACIONAMIENTOSOLARVALLE01.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR VALLE DE LAS PALMAS/02CEG - ESTACIONAMIENTOSOLARVALLE02.jpeg`,
          `${basePath}/02 CENTRALES ELECTRICAS DE GENERACION/ESTACIONAMIENTO SOLAR VALLE DE LAS PALMAS/02CEG - ESTACIONAMIENTOSOLARVALLE03.jpeg`
        ]
      }
    ]
  },
  {
    id: 'redes',
    title: 'Redes Eléctricas',
    subtitle: 'y Líneas de Transmisión',
    image: 'https://images.unsplash.com/photo-1532601224476-15c79f2f7a51?w=1920&h=600&fit=crop',
    items: [
      {
        label: 'LT 115KV Aluminio ABC',
        thumbnail: 'https://images.unsplash.com/photo-1532601224476-15c79f2f7a51?w=600&h=400&fit=crop',
        gallery: ['https://images.unsplash.com/photo-1532601224476-15c79f2f7a51?w=1200&h=800&fit=crop']
      },
      {
        label: 'LT 115KV KIO Networks',
        thumbnail: 'https://images.unsplash.com/photo-1473341304170-971dccb5ac1e?w=600&h=400&fit=crop',
        gallery: ['https://images.unsplash.com/photo-1473341304170-971dccb5ac1e?w=1200&h=800&fit=crop']
      }
    ]
  },
  {
    id: 'servicios',
    title: 'Servicios Complementarios',
    subtitle: '',
    hidden: true, // Hidden from main cards, accessible via /servicios redirect
    image: `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA01.jpeg`,
    items: [
      {
        label: 'Zuma Parque Eólico Reynosa',
        thumbnail: `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA01.jpeg`,
        gallery: [
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA01.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA02.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA03.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA04.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA05.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA06.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA07.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA08.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA09.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA10.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA11.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA12.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ZUMA PARQUE EOLICO REYNOSA/04SC - ZUMAPARQUEEOLICOREYNOSA13.jpeg`
        ]
      },
      {
        label: 'Estacionamiento Solar Collins Aerospace',
        thumbnail: `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS01.jpeg`,
        gallery: [
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS01.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS02.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS03.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS04.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS05.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/ESTACIONAMIENTO SOLAR COLLINS AEROSPACE/04SC - ESTACIONAMIENTOSOLARCOLLINS06.jpeg`
        ]
      },
      {
        label: 'Red de Alcantarillado Sanitario Lomas Encantadas (CESPMT)',
        thumbnail: `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO01.jpeg`,
        gallery: [
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO01.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO02.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO03.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO04.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO05.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/RED DE ALCANTARILLADO SANITARIO LOMAS ENCANTADAS (CESPMT)/04SC - REDDEALCANTARILLADOSANITARIO06.jpeg`
        ]
      },
      {
        label: 'Proyecto Ejecutivo Sistema de Bombeo PB6 (CESPT)',
        thumbnail: `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA01.jpeg`,
        gallery: [
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA01.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA02.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA03.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA04.jpeg`,
          `${basePath}/04 SERVICIOS COMPLEMENTARIOS/PROYECTO EJECUTIVO SISTEMA DE BOMBEA PB6 (CESPT)/04SC - PROYECTOEJECUTIVOSISTEMADEBOMBEA05.jpeg`
        ]
      }
    ]
  }
];
---

<!-- Schema.org JSON-LD -->
<script type="application/ld+json" set:html={JSON.stringify(schemaData)} />

<div class="projects-page">
  <!-- Header Section with Title -->
  <section class="projects-header">
    <div class="container">
      <h1 class="projects-title">Proyectos</h1>
    </div>
  </section>

  <!-- Horizontal Project Cards (only visible projects) -->
  <section class="projects-cards" aria-label="Categorías de proyectos">
    {projects.filter(p => !p.hidden).map((project, index) => (
      <a
        href={`#${project.id}`}
        class="project-card"
        data-target={project.id}
        aria-label={`Ver proyectos de ${project.title}: ${project.subtitle}`}
      >
        <div class="card-background">
          <img
            src={project.image}
            alt={`${project.title} - ${project.subtitle} | PIXII Proyectos`}
            class="card-image"
            width="800"
            height="600"
            loading={index === 0 ? "eager" : "lazy"}
            decoding="async"
            fetchpriority={index === 0 ? "high" : "auto"}
          />
          <div class="card-overlay"></div>
        </div>
        <div class="card-content">
          <h2 class="card-title">{project.title}</h2>
          {project.subtitle && <p class="card-subtitle">{project.subtitle}</p>}
          <span class="card-btn">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
              <path d="M5 12h14M12 5l7 7-7 7"/>
            </svg>
            Conocer más
          </span>
        </div>
      </a>
    ))}
  </section>

  <!-- Detail Sections (hidden by default) -->
  {projects.map((project) => (
    <section
      id={project.id}
      class="project-detail"
      data-section={project.id}
      aria-labelledby={`title-${project.id}`}
    >
      <div class="container">
        <h2 id={`title-${project.id}`} class="detail-title">{project.title}</h2>

        <div class="detail-grid" role="list" data-gallery={project.id}>
          {project.items.map((item, itemIndex) => (
            <article
              class="detail-card"
              role="listitem"
              data-gallery-item
              data-index={itemIndex}
              data-gallery-images={JSON.stringify(item.gallery)}
              data-label={item.label}
              tabindex="0"
              itemscope
              itemtype="https://schema.org/Project"
            >
              <div class="detail-card-image">
                <img
                  src={item.thumbnail}
                  alt={`${item.label} - PIXII ${project.title}`}
                  width="400"
                  height="533"
                  loading="lazy"
                  decoding="async"
                  itemprop="image"
                />
              </div>
              <div class="detail-card-label">
                <span itemprop="name">{item.label}</span>
              </div>
            </article>
          ))}
        </div>
      </div>
    </section>
  ))}
</div>

<!-- Gallery Lightbox -->
<div class="gallery-lightbox" id="gallery-lightbox" aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="lightbox-title">
  <div class="lightbox-overlay"></div>
  <div class="lightbox-content">
    <h2 id="lightbox-title" class="sr-only">Galería de imágenes del proyecto</h2>

    <button class="lightbox-close" aria-label="Cerrar galería">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
        <path d="M18 6L6 18M6 6l12 12"/>
      </svg>
    </button>

    <button class="lightbox-nav lightbox-prev" aria-label="Imagen anterior">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
        <path d="M15 18l-6-6 6-6"/>
      </svg>
    </button>

    <div class="lightbox-image-container" role="group" aria-live="polite">
      <img class="lightbox-image" src="" alt="" />
      <div class="lightbox-caption" id="lightbox-caption"></div>
    </div>

    <button class="lightbox-nav lightbox-next" aria-label="Imagen siguiente">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" aria-hidden="true">
        <path d="M9 18l6-6-6-6"/>
      </svg>
    </button>

    <div class="lightbox-counter" aria-live="polite"></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const projectCards = document.querySelectorAll('.project-card');
    const allSections = document.querySelectorAll('.project-detail');

    // ============================================
    // Lazy Load Image Fade-in Effect
    // ============================================
    const lazyImages = document.querySelectorAll('img[loading="lazy"]');
    lazyImages.forEach(img => {
      if (img.complete) {
        img.classList.add('loaded');
      } else {
        img.addEventListener('load', () => {
          img.classList.add('loaded');
        });
      }
    });

    // Also handle eager loaded images
    const eagerImages = document.querySelectorAll('img:not([loading="lazy"])');
    eagerImages.forEach(img => {
      if (img.complete) {
        img.classList.add('loaded');
      } else {
        img.addEventListener('load', () => {
          img.classList.add('loaded');
        });
      }
    });

    // Hide all sections initially
    allSections.forEach(section => {
      section.style.display = 'none';
    });

    function showSection(targetId: string) {
      // Hide all sections first
      allSections.forEach(section => {
        section.style.display = 'none';
      });

      // Show the target section
      const targetSection = document.getElementById(targetId);
      if (targetSection) {
        targetSection.style.display = 'block';

        // Update URL hash
        history.pushState(null, '', `#${targetId}`);

        // Smooth scroll to section
        setTimeout(() => {
          targetSection.scrollIntoView({ behavior: 'smooth' });
        }, 50);
      }
    }

    projectCards.forEach(card => {
      card.addEventListener('click', (e) => {
        e.preventDefault();
        const targetId = card.getAttribute('data-target');
        if (targetId) {
          showSection(targetId);
        }
      });
    });

    // Handle direct URL access with hash
    if (window.location.hash) {
      const targetId = window.location.hash.substring(1);
      showSection(targetId);
    }

    // ============================================
    // Gallery Lightbox Functionality
    // ============================================
    const lightbox = document.getElementById('gallery-lightbox');
    const lightboxImage = lightbox?.querySelector('.lightbox-image') as HTMLImageElement;
    const lightboxCaption = lightbox?.querySelector('.lightbox-caption');
    const lightboxCounter = lightbox?.querySelector('.lightbox-counter');
    const lightboxClose = lightbox?.querySelector('.lightbox-close') as HTMLButtonElement;
    const lightboxPrev = lightbox?.querySelector('.lightbox-prev') as HTMLButtonElement;
    const lightboxNext = lightbox?.querySelector('.lightbox-next') as HTMLButtonElement;
    const lightboxOverlay = lightbox?.querySelector('.lightbox-overlay');

    let currentGalleryImages: string[] = [];
    let currentProjectLabel = '';
    let currentIndex = 0;
    let triggerElement: HTMLElement | null = null;

    // Focusable elements inside lightbox
    const focusableElements = [lightboxClose, lightboxPrev, lightboxNext].filter(Boolean) as HTMLElement[];

    function openLightbox(galleryImages: string[], label: string, startIndex: number = 0, trigger?: HTMLElement) {
      currentGalleryImages = galleryImages;
      currentProjectLabel = label;
      currentIndex = startIndex;
      triggerElement = trigger || null;
      updateLightboxContent();

      if (lightbox) {
        lightbox.classList.add('active');
        lightbox.setAttribute('aria-hidden', 'false');
        document.body.style.overflow = 'hidden';

        // Focus close button for accessibility
        setTimeout(() => {
          lightboxClose?.focus();
        }, 100);
      }
    }

    function closeLightbox() {
      if (lightbox) {
        lightbox.classList.remove('active');
        lightbox.setAttribute('aria-hidden', 'true');
        document.body.style.overflow = '';

        // Return focus to trigger element
        if (triggerElement) {
          triggerElement.focus();
          triggerElement = null;
        }
      }
    }

    // Focus trap for lightbox
    function handleFocusTrap(e: KeyboardEvent) {
      if (!lightbox?.classList.contains('active')) return;
      if (e.key !== 'Tab') return;

      const firstElement = focusableElements[0];
      const lastElement = focusableElements[focusableElements.length - 1];

      if (e.shiftKey) {
        // Shift + Tab
        if (document.activeElement === firstElement) {
          e.preventDefault();
          lastElement?.focus();
        }
      } else {
        // Tab
        if (document.activeElement === lastElement) {
          e.preventDefault();
          firstElement?.focus();
        }
      }
    }

    function updateLightboxContent() {
      if (!lightboxImage || !lightboxCaption || !lightboxCounter) return;

      const imageSrc = currentGalleryImages[currentIndex] || '';

      lightboxImage.src = imageSrc;
      lightboxImage.alt = `${currentProjectLabel} - Imagen ${currentIndex + 1}`;
      lightboxCaption.textContent = currentProjectLabel;
      lightboxCounter.textContent = `${currentIndex + 1} / ${currentGalleryImages.length}`;
    }

    function showPrevImage() {
      currentIndex = (currentIndex - 1 + currentGalleryImages.length) % currentGalleryImages.length;
      updateLightboxContent();
    }

    function showNextImage() {
      currentIndex = (currentIndex + 1) % currentGalleryImages.length;
      updateLightboxContent();
    }

    // Event listeners for gallery items
    document.querySelectorAll('.detail-card[data-gallery-item]').forEach(card => {
      const openGallery = () => {
        const galleryImagesJson = card.getAttribute('data-gallery-images');
        const label = card.getAttribute('data-label') || '';

        if (!galleryImagesJson) return;

        try {
          const galleryImages = JSON.parse(galleryImagesJson) as string[];
          openLightbox(galleryImages, label, 0, card as HTMLElement);
        } catch (e) {
          console.error('Error parsing gallery images:', e);
        }
      };

      card.addEventListener('click', openGallery);
      card.addEventListener('keydown', (e) => {
        if ((e as KeyboardEvent).key === 'Enter' || (e as KeyboardEvent).key === ' ') {
          e.preventDefault();
          openGallery();
        }
      });
    });

    // Lightbox controls
    lightboxClose?.addEventListener('click', closeLightbox);
    lightboxOverlay?.addEventListener('click', closeLightbox);
    lightboxPrev?.addEventListener('click', showPrevImage);
    lightboxNext?.addEventListener('click', showNextImage);

    // Touch swipe support for mobile
    let touchStartX = 0;
    let touchEndX = 0;
    const minSwipeDistance = 50;

    lightbox?.addEventListener('touchstart', (e) => {
      touchStartX = e.changedTouches[0].screenX;
    }, { passive: true });

    lightbox?.addEventListener('touchend', (e) => {
      touchEndX = e.changedTouches[0].screenX;
      handleSwipe();
    }, { passive: true });

    function handleSwipe() {
      const swipeDistance = touchEndX - touchStartX;
      if (Math.abs(swipeDistance) < minSwipeDistance) return;

      if (swipeDistance > 0) {
        // Swipe right - show previous
        showPrevImage();
      } else {
        // Swipe left - show next
        showNextImage();
      }
    }

    // Keyboard navigation and focus trap
    document.addEventListener('keydown', (e) => {
      if (!lightbox?.classList.contains('active')) return;

      // Focus trap
      handleFocusTrap(e);

      switch (e.key) {
        case 'Escape':
          closeLightbox();
          break;
        case 'ArrowLeft':
          showPrevImage();
          break;
        case 'ArrowRight':
          showNextImage();
          break;
      }
    });
  });
</script>

<style>
  /* Screen reader only - visually hidden */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .projects-page {
    min-height: 100vh;
    background: var(--color-white);
  }

  .projects-header {
    padding: 140px 0 60px;
    background: var(--color-white);
  }

  .projects-title {
    font-size: 48px;
    font-weight: 400;
    color: var(--color-black);
    line-height: 1.2;
  }

  /* Horizontal Project Cards */
  .projects-cards {
    display: flex;
    flex-direction: row;
    height: 70vh;
    min-height: 500px;
  }

  .project-card {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    overflow: hidden;
    transition: flex 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* When hovering on the container, shrink non-hovered cards */
  .projects-cards:hover .project-card {
    flex: 0.7;
  }

  .projects-cards:hover .project-card:hover {
    flex: 1.6;
  }

  .card-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1a1a1a;
  }

  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.3s ease;
    background-color: #1a1a1a;
    /* Smooth fade-in for lazy loaded images */
    opacity: 0;
  }

  .card-image.loaded,
  .card-image:not([loading="lazy"]) {
    opacity: 1;
  }

  /* Prevent layout shift */
  .card-background img {
    aspect-ratio: 16 / 9;
  }

  .project-card:hover .card-image {
    transform: scale(1.05);
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 0.4s ease;
  }

  /* Different opacity levels for each card */
  .project-card:nth-child(1) .card-overlay {
    background: rgba(0, 0, 0, 0.65);
  }

  .project-card:nth-child(2) .card-overlay {
    background: rgba(0, 0, 0, 0.45);
  }

  .project-card:nth-child(3) .card-overlay {
    background: rgba(0, 0, 0, 0.25);
  }

  .project-card:nth-child(1):hover .card-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  .project-card:nth-child(2):hover .card-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .project-card:nth-child(3):hover .card-overlay {
    background: rgba(0, 0, 0, 0.15);
  }

  .card-content {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 40px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card-title {
    font-size: 28px;
    font-weight: 400;
    color: var(--color-white);
    margin-bottom: 8px;
    line-height: 1.2;
    transition: opacity 0.3s ease;
  }

  .card-subtitle {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    opacity: 0.9;
    margin-bottom: 0;
    transition: opacity 0.3s ease;
  }

  .card-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    padding: 12px 24px;
    background: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
  }

  .project-card:hover .card-btn {
    background: rgba(128, 128, 128, 0.5);
    border-color: rgba(255, 255, 255, 0.7);
  }

  .card-btn svg {
    width: 16px;
    height: 16px;
  }

  /* Detail Sections */
  .project-detail {
    padding: 80px 0;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .detail-title {
    font-size: 36px;
    font-weight: 400;
    color: var(--color-black);
    margin-bottom: 48px;
    line-height: 1.3;
  }

  .detail-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    width: 100%;
  }

  .detail-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .detail-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  }

  .detail-card-image {
    flex: 4;
    position: relative;
    overflow: hidden;
    /* Prevent layout shift with aspect-ratio container */
    aspect-ratio: 3 / 4;
    background-color: #f0f0f0;
  }

  .detail-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, opacity 0.3s ease;
    background-color: #e5e5e5;
    /* Smooth fade-in for lazy loaded images */
    opacity: 0;
  }

  .detail-card-image img.loaded,
  .detail-card-image img:not([loading="lazy"]) {
    opacity: 1;
  }

  .detail-card:hover .detail-card-image img {
    transform: scale(1.05);
  }

  .detail-card-label {
    flex: 1;
    background: var(--color-black);
    padding: 16px;
    display: flex;
    align-items: center;
  }

  .detail-card-label span {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
  }

  /* ============================================
     Responsive Breakpoints
     ============================================ */

  /* Large Desktop (1440px+) */
  @media (min-width: 1441px) {
    .detail-grid {
      gap: 32px;
    }

    .detail-card-label {
      padding: 20px;
    }

    .detail-card-label span {
      font-size: 16px;
    }
  }

  /* Desktop (1200px - 1440px) */
  @media (max-width: 1440px) {
    .projects-title {
      font-size: 44px;
    }

    .card-title {
      font-size: 26px;
    }

    .detail-title {
      font-size: 32px;
    }
  }

  /* Small Desktop / Large Tablet (1024px - 1199px) */
  @media (max-width: 1199px) {
    .projects-title {
      font-size: 40px;
    }

    .projects-cards {
      height: 60vh;
      min-height: 450px;
    }

    .card-content {
      padding: 32px 24px;
    }

    .card-title {
      font-size: 22px;
    }

    .card-subtitle {
      font-size: 14px;
    }

    .detail-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

    .detail-title {
      font-size: 28px;
      margin-bottom: 40px;
    }

    .detail-card-label {
      padding: 14px;
    }

    .detail-card-label span {
      font-size: 13px;
    }
  }

  /* Tablet Landscape (900px - 1023px) */
  @media (max-width: 1023px) {
    .projects-header {
      padding: 130px 0 50px;
    }

    .projects-title {
      font-size: 36px;
    }

    .projects-cards {
      height: 55vh;
      min-height: 400px;
    }

    .card-content {
      padding: 28px 20px;
    }

    .card-title {
      font-size: 20px;
    }

    .card-subtitle {
      font-size: 13px;
    }

    .card-btn {
      padding: 10px 18px;
      font-size: 13px;
      gap: 8px;
    }

    .detail-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    .detail-title {
      font-size: 26px;
    }

    .detail-card-image img {
      aspect-ratio: 4 / 5;
    }
  }

  /* Tablet Portrait (768px - 899px) */
  @media (max-width: 899px) {
    .projects-header {
      padding: 120px 0 40px;
    }

    .projects-title {
      font-size: 32px;
    }

    .projects-cards {
      height: 50vh;
      min-height: 380px;
    }

    .card-content {
      padding: 24px 18px;
    }

    .card-title {
      font-size: 18px;
    }

    .card-subtitle {
      font-size: 12px;
    }

    .card-btn {
      padding: 8px 16px;
      font-size: 12px;
    }

    .card-btn svg {
      width: 14px;
      height: 14px;
    }

    .project-detail {
      padding: 60px 0;
    }

    .detail-title {
      font-size: 24px;
      margin-bottom: 32px;
    }

    .detail-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .detail-card-label {
      padding: 12px;
    }

    .detail-card-label span {
      font-size: 12px;
    }
  }

  /* Large Mobile / Small Tablet (600px - 767px) */
  @media (max-width: 767px) {
    .projects-header {
      padding: 110px 0 32px;
    }

    .projects-title {
      font-size: 28px;
    }

    .projects-cards {
      flex-direction: column;
      height: auto;
      min-height: auto;
    }

    .project-card {
      height: 220px;
      flex: none !important;
    }

    .projects-cards:hover .project-card,
    .projects-cards:hover .project-card:hover {
      flex: none !important;
    }

    .card-content {
      padding: 20px;
    }

    .card-title {
      font-size: 20px;
    }

    .card-subtitle {
      font-size: 14px;
    }

    .card-btn {
      padding: 10px 20px;
      font-size: 13px;
    }

    .card-btn svg {
      width: 16px;
      height: 16px;
    }

    .project-detail {
      padding: 48px 0;
    }

    .detail-title {
      font-size: 22px;
      margin-bottom: 28px;
    }

    .detail-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    .detail-card-image img {
      aspect-ratio: 1 / 1;
    }

    .detail-card-label {
      padding: 14px;
    }

    .detail-card-label span {
      font-size: 13px;
    }
  }

  /* Mobile (480px - 599px) */
  @media (max-width: 599px) {
    .projects-header {
      padding: 100px 0 28px;
    }

    .projects-title {
      font-size: 26px;
    }

    .project-card {
      height: 200px;
    }

    .card-content {
      padding: 18px 16px;
    }

    .card-title {
      font-size: 18px;
      margin-bottom: 4px;
    }

    .card-subtitle {
      font-size: 13px;
    }

    .card-btn {
      margin-top: 14px;
      padding: 8px 16px;
      font-size: 12px;
    }

    .project-detail {
      padding: 40px 0;
    }

    .detail-title {
      font-size: 20px;
      margin-bottom: 24px;
    }

    .detail-grid {
      grid-template-columns: 1fr 1fr;
      gap: 12px;
    }

    .detail-card {
      border-radius: 6px;
    }

    .detail-card-image img {
      aspect-ratio: 3 / 4;
    }

    .detail-card-label {
      padding: 12px;
    }

    .detail-card-label span {
      font-size: 11px;
      line-height: 1.3;
    }
  }

  /* Small Mobile (< 480px) */
  @media (max-width: 479px) {
    .projects-header {
      padding: 90px 0 24px;
    }

    .projects-title {
      font-size: 24px;
    }

    .project-card {
      height: 180px;
    }

    .card-content {
      padding: 16px 14px;
    }

    .card-title {
      font-size: 16px;
    }

    .card-subtitle {
      font-size: 12px;
    }

    .card-btn {
      margin-top: 12px;
      padding: 8px 14px;
      font-size: 11px;
      gap: 6px;
    }

    .card-btn svg {
      width: 12px;
      height: 12px;
    }

    .project-detail {
      padding: 32px 0;
    }

    .detail-title {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .detail-grid {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .detail-card-image img {
      aspect-ratio: 16 / 10;
    }

    .detail-card-label {
      padding: 14px 16px;
    }

    .detail-card-label span {
      font-size: 13px;
    }
  }

  /* Extra Small Mobile (< 360px) */
  @media (max-width: 359px) {
    .projects-title {
      font-size: 22px;
    }

    .project-card {
      height: 160px;
    }

    .card-title {
      font-size: 15px;
    }

    .card-subtitle {
      font-size: 11px;
    }

    .card-btn {
      padding: 7px 12px;
      font-size: 10px;
    }

    .detail-title {
      font-size: 16px;
    }
  }

  /* ============================================
     Gallery Lightbox Styles
     ============================================ */
  .gallery-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .gallery-lightbox.active {
    opacity: 1;
    visibility: visible;
  }

  .lightbox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    cursor: pointer;
  }

  .lightbox-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 80px;
  }

  .lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .lightbox-close:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(90deg);
  }

  .lightbox-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .lightbox-nav:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .lightbox-prev {
    left: 20px;
  }

  .lightbox-next {
    right: 20px;
  }

  .lightbox-image-container {
    max-width: 80%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lightbox-image {
    max-width: 100%;
    max-height: calc(80vh - 60px);
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
  }

  .lightbox-caption {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }

  .lightbox-counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 500;
  }

  /* Make detail cards clickable */
  .detail-card[data-gallery-item] {
    cursor: pointer;
  }

  .detail-card[data-gallery-item]:focus {
    outline: none;
  }

  /* Lightbox Responsive */
  @media (max-width: 1023px) {
    .lightbox-content {
      padding: 60px 60px;
    }

    .lightbox-nav {
      width: 48px;
      height: 48px;
    }

    .lightbox-close {
      width: 44px;
      height: 44px;
    }
  }

  @media (max-width: 767px) {
    .lightbox-content {
      padding: 70px 16px 80px;
      flex-direction: column;
    }

    .lightbox-close {
      top: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
    }

    .lightbox-close svg {
      width: 20px;
      height: 20px;
    }

    .lightbox-nav {
      position: fixed;
      top: auto;
      bottom: 24px;
      transform: none;
      width: 48px;
      height: 48px;
    }

    .lightbox-prev {
      left: calc(50% - 60px);
    }

    .lightbox-next {
      right: calc(50% - 60px);
    }

    .lightbox-image-container {
      max-width: 100%;
      max-height: calc(100vh - 180px);
    }

    .lightbox-image {
      max-height: calc(70vh - 60px);
      border-radius: 6px;
    }

    .lightbox-caption {
      font-size: 14px;
      padding: 0 16px;
      margin-top: 16px;
    }

    .lightbox-counter {
      bottom: auto;
      top: 24px;
      left: 16px;
      transform: none;
      font-size: 13px;
    }
  }

  @media (max-width: 479px) {
    .lightbox-content {
      padding: 60px 12px 90px;
    }

    .lightbox-close {
      top: 12px;
      right: 12px;
      width: 36px;
      height: 36px;
    }

    .lightbox-close svg {
      width: 18px;
      height: 18px;
    }

    .lightbox-nav {
      width: 44px;
      height: 44px;
      bottom: 20px;
    }

    .lightbox-nav svg {
      width: 20px;
      height: 20px;
    }

    .lightbox-prev {
      left: calc(50% - 54px);
    }

    .lightbox-next {
      right: calc(50% - 54px);
    }

    .lightbox-image {
      max-height: calc(65vh - 40px);
      border-radius: 4px;
    }

    .lightbox-caption {
      font-size: 13px;
      margin-top: 12px;
    }

    .lightbox-counter {
      top: 18px;
      font-size: 12px;
    }
  }

  /* Touch device improvements */
  @media (hover: none) and (pointer: coarse) {
    .detail-card:hover {
      transform: none;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .detail-card:hover .detail-card-image img {
      transform: none;
    }

    .detail-card:active {
      transform: scale(0.98);
    }

    .project-card:hover .card-image {
      transform: none;
    }

    .lightbox-nav:hover,
    .lightbox-close:hover {
      background: rgba(255, 255, 255, 0.1);
      transform: none;
    }

    .lightbox-nav:active,
    .lightbox-close:active {
      background: rgba(255, 255, 255, 0.25);
    }
  }

  /* Landscape orientation on mobile */
  @media (max-height: 500px) and (orientation: landscape) {
    .projects-cards {
      height: 80vh;
      min-height: 300px;
    }

    .project-card {
      height: 100%;
    }

    .lightbox-content {
      padding: 50px 80px;
    }

    .lightbox-image {
      max-height: calc(100vh - 120px);
    }

    .lightbox-caption {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.7);
      padding: 8px 16px;
      border-radius: 4px;
      margin-top: 0;
    }

    .lightbox-counter {
      bottom: 16px;
    }

    .lightbox-nav {
      position: absolute;
      top: 50%;
      bottom: auto;
      transform: translateY(-50%);
    }

    .lightbox-prev {
      left: 16px;
    }

    .lightbox-next {
      right: 16px;
    }
  }
</style>
